.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 20px;
}

.App-header {
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

.draggable {
  border: 3px dashed #4ccf77;
  background-color: #282c34ba;
  width: 512px;
  height: 512px;
  position: absolute;
  border-radius: 2px;
  cursor: grab;
}

.drag {
  min-height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-region {
  padding: 15px;
  border: 2px dotted;
  cursor: pointer;
}

.drop-region-upload {
  padding: 15px;
  border: 2px solid;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}
